button {
    border: 1px solid #90A0D9;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background: #23283E;
    cursor: pointer;
    transition: border-color 0.25s;
    text-align: center;
    color: #90A0D9;
    margin: 1em;
}