@font-face {
  font-family: 'poppins';
  src: url(./assets/font/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'poppins-bold';
  src: url(./assets/font/Poppins/Poppins-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #bdbddd;
}

html {
  background-color: #23283e;
}

.app {
  text-align: center;
  font-family: 'poppins';
}

